.inline-math-latex-tool-button {
  width: 36px;
  padding-left: 15px;
  background-color: transparent;
  background-image: url('LaTeX_logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

latex {
  cursor: pointer;
  position: relative;
}

.inline-math-equation-textarea-latex-tool {
  width: 100%;
  height: fit-content;
  background-color: inherit;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  resize: none;
  color: #dd4a68;
  field-sizing: content;
}

.inline-math-equation-textarea-latex-tool:focus {
  outline: none;
  box-shadow: none;
}

.inline-math-equation-overlay {
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: calc(100% + 10px);
  left: 0;
  height: auto;
  width: 400px;
  min-width: 400px;
  max-width: calc(-24px + 100vw);
  padding: 2%;
  background-color: #f7f7f5;
  z-index: 1;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inline-math-button-wrapper {
  padding: 10px;
}

.inline-math-done-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  min-width: fit-content;
  white-space: nowrap;
}

.inline-math-done-button-color {
  background-color: #28a745;
  color: white;
}

.inline-math-done-button:hover {
  background-color: #218838;
}
