.inline-math-tool-button {
  width: 36px;
  padding-left: 15px;
  background-color: transparent;
  background-image: url('LaTeX_logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

latex {
  cursor: pointer;
  position: relative;
}

.inline-math-tool-textarea-wrapper {
  width: 100%;
  padding: 2px;
  overflow: auto;
}

.inline-math-tool-textarea {
  width: 100%;
  height: fit-content;
  background-color: inherit;
  font-size: 12px;
  border: none;
  resize: none;
  color: #dd4a68;
  field-sizing: content;
}

.inline-math-tool-textarea:focus {
  outline: none;
  box-shadow: none;
}

.inline-math-tool-overlay {
  position: absolute;
  display: flex;
  align-items: flex-start;
  min-height: 50px;
  left: 0;
  min-width: 400px;
  max-width: calc(-24px + 100vw);
  padding: 10px;
  background-color: #f7f7f5;
  z-index: 1;
  word-break: break-word;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inline-math-button-wrapper {
  padding: 2px;
}

.inline-math-done-button {
  padding: 6px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  min-width: fit-content;
  white-space: nowrap;
}

.inline-math-done-button-color {
  background-color: #28a745;
  color: white;
}

.inline-math-done-button:hover {
  background-color: #218838;
}
